apiVersion: v1
kind: Service
metadata:
  name: gateway-service
  namespace: transaction-system
  labels:
    app: gateway-service
spec:
  type: LoadBalancer
  ports:
  - port: 8080
    targetPort: 8080
    protocol: TCP
    name: http
  selector:
    app: gateway-service
